/* 2. Відредагуйте файл css/main.css */

h1, h2, h3{
    color: grey;
}

#main{
    color: #e60202;
}

.h2{
    color: red;
}

.heading{
    color: green;
}
 
/* 3. виберіть елементи, які є прямими дочірніми елементами батьківського елемента ul та встановіть для них властивість font-weight: bold. */
      
ul > li{
    font-weight: bold;
}

/* Відредагуйте файл css/main.css */

 section > p{
  color: red;
 }
/* - Чи зміниться колір тексту p всередині елемента div?   Ні, не зміниться бо <p> всередині елемента <div> не є
бепосереднім нащадком <section>
- змінити розмір шрифту всіх елементів p всередині елемента section, незалежно від їхнього рівня вкладеності. */
   section p{
     font-size: small;
 }

 /* - змінити колір тексту на indigo першого елемента h2, а не всіх елементів h2. */
 h2:nth-of-type(1){
    color: indigo;
    }

 /* застосувати до всіх посилань, нащадкам p.first властивість color: green */

 p.first > a{
    color: green;
 }

 /* - стилізувати посилання з властивістю color: green, що розташовані всередині будь-якого тегу з класом .first, що є нащадком елементу p  */

 p .first *{
    color: green;
 }

 /* - створити стиль color: salmon для всіх елементів p, що стоять після елемента div. */

 div + p {
    color: salmon;
    }

    /* 5. Маємо іменовані кольори black, blue, green, red, white, yellow
визначати ці кольори за допомогою шістнадцяткового коду: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F.
black - #000000 або #000, blue - #0000ff або #00f, green  - #008000, red - #ff0000 або #f00, white - #ffffff або #fff, yellow - #ffff00 або #ff0;

визначати ці кольори у десятковій системі числення за допомогою функції RGB.
black - rgb(000, 000, 000), blue - rgb(000, 000, 255), green  - rgb(000, 255, 000), red - rgb(255, 000, 000), white - rgb(255,255,255), yellow - rgb(255,255,000);

визначати ці кольори, використовуючи відсотки.
black - hsl(0, 0%, 0%), blue - hsl(240,100%,50%), green - hsl(120,100%,25%), red - hsl(0,100%,50%), white - hsl(0,0%,100%), yellow - hsl(60,100%,50%);

визначати ці кольори використовуючи альфа-канал, що задає прозорість.
black - rgba(000, 000, 000,1), blue - rgba(000, 000, 255,1), green  - rgba(000, 255, 000,1), red - rgba(255, 000, 000,1), white - rgba(255,255,255,1), yellow - rgba(255,255,000,1);*/

/*  6. Використовцючи hsl, створіть для класу translucent-box напівпрозору властивість background з такими значеннями:
    - Hue = 0deg
    - Saturate =  100%
    - Lightness =  50% */

    .translucent-box{
        background: hsla(0deg, 100%, 50%, 0.5);
    }

    /* 7. базовий розмір шрифта для кореневого елемента = 100%
визначити розмір шрифта для body, що успадковує розмір шрифта кореневого елемента, збільшений на 40 відсотків */

body{
    font-size: 140%;
}

/* визначити розмір шрифта для h1, що успадковує розмір шрифта кореневого елемента, збільшений на 140 відсотків  */

h1{
    font-size: 240%;
}