.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'header header header'
        'sidebar main main'
        'footer footer footer';
}
/* Створіть "Mobile First" media-запит, що перетворює макет іменованих областей 
 на 1 колонку, при переході через контрольну точку 786px */
@media screen and (max-width: 786px){
    .grid-container{
        /* grid-template-columns: 1ft;  */
        grid-template-areas:
        'header'
        'sidebar'
        'main'
        'footer';
    }
}
.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}