
body{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}
div{
	font-size: 1em;
}
span{
	font-size: 1.6em;
}
span > span{
	font-size: 1.6em;
}
/* стилізувати елементи списку за длпомогою стилю квадрат */
ul{
    list-style-type: square;
}