
/* Створіть сітку з 3-х колонок.
Налаштуйте grid-властивості так, щоб header займав 3 колонки, main - 2 колонки, footer - 3 колонки. */
/* .grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'header header header'
        'sidebar main main'
        'footer footer footer';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
} */
.grid-container {
    display: grid;
    grid-gap: 20px;
}
.grid-container {
    grid-template-columns: repeat(3, 1fr);
}
    
.header {
    grid-column: span 3;
}
    
.main {
    grid-column: span 2;
}
    
.footer {
    grid-column: span 3;
}